<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>182686839311-iakkk1ssbho60t0toih8hcmoa7f76ogc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.182686839311-iakkk1ssbho60t0toih8hcmoa7f76ogc</string>
	<key>API_KEY</key>
	<string>AIzaSyBwa2o-qaMESuH2nMXpUapa3Id_CUTaxOA</string>
	<key>GCM_SENDER_ID</key>
	<string>182686839311</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>backfront.Harry-Potter</string>
	<key>PROJECT_ID</key>
	<string>harry-potter-9113f</string>
	<key>STORAGE_BUCKET</key>
	<string>harry-potter-9113f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:182686839311:ios:91f51d39a57692ee01a97a</string>
</dict>
</plist>